<!DOCTYPE html>
<html>
<head>
    <title>General Information</title>
</head>
<body>
    <div class="menu">
        <a href="{% url 'resume:home' %}">Home</a>
        <a href="{% url 'resume:userdetails' %}">User Details</a>
        <a href="{% url 'resume:personalinformation' %}">Personal Information</a>
        <a href="{% url 'resume:education' %}">Education</a>
        <a href="{% url 'resume:job' %}">Job</a>
        <a href="{% url 'resume:project' %}">Project</a>
        <a href="{% url 'resume:skill' %}">Skill</a>
        <a href="{% url 'resume:language' %}">Languages</a>
        <a href="{% url 'resume:reference' %}">References</a>
        <a href="{% url 'resume:displayinformation' %}">Display Infomation</a>
        <a href="{% url 'resume:downloadinpdf' %}">Download In PDF?</a>
        <a href="{% url 'resume:logout_user' %}">Logout Here</a>


    </div>

    <!-- Display personal information form -->
    <h1>General Information</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <button type="submit">Save</button> -->
        <!-- Display delete button -->
        <input type = "submit" name = "Save" value = "Save">
        <input type = "submit" name="Delete" value = "Delete" >

        
        <!-- <button type="submit" name="Delete">Delete</button> -->
    </form>



</body>
</html>
