<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi Vlog!! Welcome to my Channel!!</title>
</head>
<body>
    <p>Welcome to your profile!!
        <a href="{% url 'resume:home' %}">Home</a>
        <a href="{% url 'resume:userdetails' %}">User Details</a>
        <a href="{% url 'resume:personalinformation' %}">Personal Information</a>
        <a href="{% url 'resume:education' %}">Education</a>
        <a href="{% url 'resume:job' %}">Job</a>
        <a href="{% url 'resume:project' %}">Project</a>
        <a href="{% url 'resume:skill' %}">Skill</a>
        <a href="{% url 'resume:language' %}">Languages</a>
        <a href="{% url 'resume:reference' %}">References</a>
        <a href="{% url 'resume:displayinformation' %}">Display Infomation</a>
        <a href="{% url 'resume:downloadinpdf' %}">Download In PDF?</a>
        <a href="{% url 'resume:logout_user' %}">Logout Here</a>

    </p>  
</body>
<p><strong>Stay Connected with us !! We will have very good updates soon</strong></p>
<div class="container">
    <p>We have got three samples of resume. Please select one to get your desirable one!!</p>
    <!-- <form method="post" action = "{% url 'resume:home' %}"> -->
        <form method="post">
        {% csrf_token %}
        <input type="submit" name="sample" value="First Sample">
        <input type="submit" name="sample" value="Second Sample">
        <input type="submit" name="sample" value="Third Sample">
    </form>
</div>
</html>